        /* Reset default margin and padding for the whole page */
        body,
        h1,
        h2,
        h3,
        p,
        ul,
        li {
            margin: 0;
            padding: 0;
            font-family: 'Noto Sans KR', sans-serif;
        }

        /* Set background color for the body */
        html,
        body {
            background-color: #092441;
        }

        body {
            min-width: 100%;
            min-height: 100%;
        }

        /* Style for the header */
        .main-header {
            background-color: #d3e7fc;
            display: flex;
            align-items: center;
            padding: 30px;
            font-size: 30px;
            /* Increase font size */
        }

        /* Style for the logo */
        .logo img {
            max-width: 230px;
            /* Increase logo size */
            height: auto;
            margin-left: 15px;
        }

        .content {
            margin-left: 17%;
        }

        .rectangle-top {
            border-radius: 20px;
            padding: 100px;
            backdrop-filter: blur(10px);
            max-width: 30%;
            margin-left: 25%;
            margin-top: 3%;
            background-color: rgba(255, 255, 192, 0.1);
            box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.3);
        }

        .logo2 {
            display: flex;
            align-items: center;
            margin-top: 85px;
        }

        .button-container {
            position: relative;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .button {
            display: inline-block;
            background-color: white;
            color: #092441;
            border-radius: 70px;
            padding: 5% 10%;
            text-decoration: none;
            border: none;
            font-size: 24px;
            transition: background-color 0.3s, color 0.3s;
        }

        .button:hover {
            background-color: #092441;
            color: white;
        }


        .logo2 img {
            max-width: 320px;
            /* Increase logo size */
            height: auto;
            margin-right: 20px;
            /* Add margin to separate image and text */
        }

        .dance {
            color: white;
            font-size: 24px;
            max-width: 60%;
            /* Limit the width of the text */
            margin-left: 5%;
        }

        .clalink {
            color: white;
            font-size: 15px;
            margin-top: 7%;
            margin-left: 2%;
        }

        /* Style for the menu */
        .menu ul {
            list-style: none;
            display: flex;
            gap: 20px;
            margin-left: 70px;
            /* Add margin to push the menu slightly to the right */
        }


        .menu li {
            border-right: 2px solid #979797;
            /* Gray line between menu items */
            padding-right: 20px;
        }

        .menu li:last-child {
            border-right: none;
            /* Remove border from the last item */
        }

        .menu a {
            text-decoration: none;
            /* Remove underline */
            color: black;
            /* Set text color to black */
            transition: color 0.3s;
            /* Smooth color transition */
        }

        .menu a:hover {
            color: blue;
            /* Change text color to white on hover */
        }

        .rectangle-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 3%;
        }

        .rectangle {
            border-radius: 20px;
            backdrop-filter: blur(10px);
            margin-left: 12%;
            background-color: rgba(255, 255, 192, 0.1);
            box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
        }

        /* 스타일 추가: 사각형 안에 헤더 스타일 */
        .rectangle-header {
            padding: 10px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .wrapper {
            height: auto;
            min-height: 100%;
        }

        footer {
            background-color: #94c5fa;
            color: white;
            text-align: center;
            padding: 20px;
            position: relative;
            margin-top: 10%;
            height: 380px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .foots {
            flex: 1;
            text-align: left;
            margin-bottom: auto;
        }

        .himderu {
            margin-top: 7px;
            margin-left: 50px;
            list-style: none;
            display: flex;
            gap: 38px;
        }

        .foots ul {
            list-style: none;
            padding-left: 20px;
            text-align: left;
        }

        .foots li {
            width: 150%;
            font-size: 18px;
        }

        .foot {
            margin-left: 10%;
            margin-bottom: 5%;
            font-size: 25px;
            width: 180%
        }

        .foots a {
            text-decoration: none;
            /* Remove underline */
            color: white;
            /* Set text color to black */
            transition: color 0.3s;
            /* Smooth color transition */
        }

        .foots a:hover {
            color: blue;
            /* Change text color to white on hover */
        }

        .foot-img {
            width: 250px;
            height: auto;
        }

        .foot-menu ul {
            list-style: none;
            display: flex;
            gap: 10px;
            margin-left: 70px;
            /* Add margin to push the menu slightly to the right */
        }


        .foot-menu li {
            border-right: 1px solid white;
            /* Gray line between menu items */
            padding-right: 10px;
        }

        .foot-menu li:last-child {
            border-right: none;
            /* Remove border from the last item */
        }

        .foot-menu a {
            text-decoration: none;
            /* Remove underline */
            color: white;
            /* Set text color to black */
            transition: color 0.3s;
            /* Smooth color transition */
        }

        .foot-menu a:hover {
            color: blue;
            /* Change text color to white on hover */
        }

        .foot-menu2 ul {
            list-style: none;
            display: flex;
            gap: 26px;
            margin-left: 70px;
            /* Add margin to push the menu slightly to the right */
        }

        .foot-menu2 li:last-child {
            border-right: none;
            /* Remove border from the last item */
        }

        .wrap {
            margin: 0 auto;
            padding: 30px;
            max-width: 1170px;

            position: absolute;
            top: 850px;
            left: 280px;
        }

        .circle {
            margin: 0 auto;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background: linear-gradient(to bottom, #2d2ad2, black);
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
            /* Adding a slight blur */
        }

        .wrap2 {
            margin: 0 auto;
            padding: 30px;
            max-width: 1170px;

            position: absolute;
            top: 610px;
            right: 550px;
        }

        .circle2 {
            margin: 0 auto;
            width: 170px;
            height: 170px;
            border-radius: 50%;
            background: radial-gradient(circle at 45% 10%, #2d2ad2 50%, black);
        }

        .wrap3 {
            margin: 0 auto;
            padding: 30px;
            max-width: 1170px;

            position: absolute;
            top: 900px;
            right: 250px;
        }

        .circle3 {
            margin: 0 auto;
            width: 450px;
            height: 450px;
            border-radius: 50%;
            background: #2328ae;
            box-shadow: 0px 0px 50px 50px #2328ae;
        }

        .up {
            z-index: 1000;
            /* 임의의 높은 값 */
            position: relative;
            /* z-index를 사용하려면 position 값이 필요합니다 */
        }

        .friend-list {
            border-radius: 35px;
            backdrop-filter: blur(10px);
            margin-left: 12%;
            background-color: rgba(162, 177, 191, 0.8);

            width: 15%;
            height: 38.5%;

            position: fixed;
            top: 15%;
            right: 1.5%;

            transition: right 0.5s;
            /* 부드러운 움직임을 위한 속성 */
        }

        .friend-list.hide {
            right: -15%;
            /* 화면 밖으로 움직이게 하는 속성 */
        }

        .toggle-button {
            position: fixed;
            top: 15%;
            right: 100%;

            border-radius: 10px;
            backdrop-filter: blur(10px);
            background-color: rgba(162, 177, 191, 0.8);

            width: 11%;
            height: 15%;

            border: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            font-size: 15px;
        }

        .toggle-button2 {
            position: fixed;
            top: -8%;
            right: 37%;

            border-radius: 10px;
            backdrop-filter: blur(10px);
            background-color: rgba(162, 177, 191, 0.8);

            width: 25%;
            height: 8%;

            border: none;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;

            font-size: 15px;
        }

        .toggle-button2:hover {
            background-color: rgba(162, 177, 191, 0.9);
            color: white;
        }

        #arrow{
            position:relative;
            width: 10px;
            height: 10px;
            border-top: 2px solid black;
            border-right: 2px solid black;
            transform:rotate(45deg);
        }

        .arrow{
            position:relative;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid black;
            border-right: 2px solid black;
            transform:rotate(45deg);

            top: -7%;
            left: 25%;
        }

        .arrow-box{
            position:relative;

            width: 40px;
            height: 40px;

            border: none;

            background-color: rgba( 255, 255, 255, 0);
        }

        .toggle-button:hover {
            background-color: rgba(162, 177, 191, 0.9);
            color: white;
        }

        .todo {
            border-radius: 35px;
            backdrop-filter: blur(10px);
            margin-left: 12%;
            background-color: rgba(162, 177, 191, 0.8);

            width: 15%;
            height: 35%;

            position: fixed;
            top: 70%;
            right: 1.5%;

            transition: top 0.5s;
        }

        .todo.hide {
            top: 100%;
        }

        .box {
            position: relative;
            top: 18px;
            left: 20px;

            width: 80px;
            height: 80px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .continue {
            margin-top: 0%;
            margin-left: 41%;
            color: #86898d;
            font-size: 15px;
        }

        .doing {
            margin-top: 0%;
            margin-left: 15%;
            color: #86898d;
            font-size: 15px;
        }